<div class ="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.linkedin.com/in/xi-pan-91aa3b147/">Xi Pan</a>
        </small>
    </footer>
</div>